.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 20px; 
    z-index: 1000; 
    background: none;
}

.header img {
    width: 50px;
    background: none;
    border: none;
    opacity: 90%;
    cursor: pointer;
}

.logout-button-text {
    padding: 10px 25px;
    background-color: #69000075;
    color: white;
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
